# --- Bibliotecas principais ---
streamlit>=1.34
pandas>=2.0
numpy>=1.24
SQLAlchemy>=2.0
python-dateutil>=2.9
altair>=5.0
plotly>=5.20
XlsxWriter>=3.1
python-dotenv>=1.0
psycopg2-binary
# --- Conexão e segurança ---
psycopg2-binary==2.9.9
passlib[bcrypt]>=1.7.4
bcrypt==4.0.1

# --- Autenticação e UI ---
streamlit-authenticator
streamlit-aggrid
streamlit-autorefresh==1.0.1

# --- Extras úteis ---
openpyxl>=3.1
requests

